<!--ヘッダーのコードを貼り付けてください-->
<header>
  <div class="header-logo">
    <a href="/">BACKPACKERS CAFE</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">ABOUT</a>
    </li>
    <li>
      <a href="/posts/index">投稿一覧</a>
    </li>
    <li>
      <a href="/posts/new">新規投稿</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>BACKPACKERS CAFEとは</h2>
  <p>旅先でのエモい出逢いをオンラインで再現。</p>
  <p>バックパッカー同士のコミュニケーションをもっと身近に。</p>
</div>
