<div class="main top-main">
  <div class="top-message">
    <h2>Once in the lifetime chance</h2>
    <p>Treasure every encounter as it may not come again.</p>
    <p>One today is worth two tomorrow.</p>
  </div>
</div>
