<!--ヘッダーのコードを貼り付けてください-->
<header>
  <div class="header-logo">
    <a href="/">BACKPACKERS CAFE</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">ABOUT</a>
    </li>
    <li>
      <a href="/posts/index">投稿一覧</a>
    </li>
    <li>
      <a href="/posts/new">新規投稿</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>BACKPACKERS CAFE</h2>
    <p>旅先での"エモい出逢い"をオンラインでも</p>
    <p>バックパッカー専用オンラインカフェ</p>
  </div>
</div>
