<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">思い出を綴ろう</h1>

    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value="綴る">
      </div>
    </div>

  </div>
</div>
